#wrapper {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    font-family: arial, sans-serif;
}
body {
    background-color: rgba(#FFFFFF, 1);
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 150px;
    text-align: center;
}

nav {
    text-align: center;
}
nav ul {
      list-style-type: none;
}

nav li {
      display: inline;
}
a {
    color: #777;
    text-decoration: none;
}
section {
    width: 1150px;
    float: left;
    padding: 15px;
    margin-top: 8px;
    margin-right: 15px;
    background-color: rgba(#5C5C5C, 1);
    border: 1px solid rgba(#202020, 1);
    border-radius: 5px;
    margin-bottom: 100px;
}

.artickle {
    height: 120px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.artickle img {
    float: left;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgba(#706F6E, 1);
}

.artickle a {
    font-size: 18px;
}

aside {
    width: 258px;
    float: right;
    padding: 25px;
    margin-top: 15px;
    background-color: rgba(#676767, 1);
    border: 1px solid rgba(#5C5C5C, 1);
    border-radius: 5px;
    margin-bottom: 15px;
 }

 footer {
    background-color: rgba(#656565, 1);
    border: 1px solid rgba(#706F6C, 1);
    border-radius: 5px;
    clear: both;
}

footer ul {
    float: left;
    list-style: none;
    padding: 0px;
    margin: 20px;
}

footer li {
  margin-right: 15px;
  display: inline;
}

footer p {
    text-align: right;
    margin-right: 20px;
    color: #777;
}

#viewerlist {
  color: black;
}

.viewercard {
  margin-left: 500px;
}
#openuser {
  color: white;
  background-color: #222222;
  margin-top: 100px;

}
#namen {
  background-color: grey;
}
#Startseite {
  color: black;
  margin-top: 110px;
  margin-bottom: 120px;
  margin-left: 50px;
}
.title {
  font-size: 100px;
}
#title-index {
  color: blueviolet;
}
#test {
  color: black;
  margin-left: 485px;
  font-size: 20px;
}
#background {
  background-color: #222222;
}
#viewercard1 {
  color: black;
  margin-top: 20px;
}
#viewerlist {
  color: black;
  margin-top: 20px;
}
#LogViewer {
  color: black;
  margin-top: 20px;
}
#Startseite1 {
  color: black;
  margin-top: 20px;
}
.viewerlisten {
  color: grey;
}
